* {
    font-family: 'Poor Story', cursive;
}

.main {
    background-color: #e5e5e5;
    /*백그라운드 컬러 설정*/
    background-image: url("http://nstayimg4.speedgabia.com/arribada/main/mv01.jpg");
    /*백그라운드 이미지 */
}

.main-box {
    background-color: #F7BE81;
    /*백그라운드 컬러 설정*/
    margin: 20px auto;
    /*margin 속성은 테두리(border)와 이웃하는 요소 사이의 간격인 마진 영역의 크기를 설정*/
    max-width: 700px;
    /*max width나 height를 사용해서 최대치를 설정해서 축소를해도 끝까지 안밀려나게 설정*/
    height: 100%;
    /*높이 설정*/

    border-radius: 15px;
    /*테두리를 둥글게*/
}

.main-box > .login-box {
    transition: 0.3s;
     /*CSS 속성을 변경할 때 애니메이션 속도를 조절하는 방법을 제공*/
    margin: auto;
    /*margin 속성은 테두리(border)와 이웃하는 요소 사이의 간격인 마진 영역의 크기를 설정*/
    padding-top: 20px;
    /*패딩영역의 위에부분*/

    max-width: 500px;
    /*max width나 height를 사용해서 최대치를 설정해서 축소를해도 끝까지 안밀려나게 설정*/
}

.main-box > .login-box > .buttons {
    display: flex;
    justify-content: center;
    margin-top: 10px;
    /*마진영역의 위에 부분*/
}

.main-box > .login-box > .mascot {
    width: 100%;
    /*너비 설정*/
    border-radius: 55px;
    /*테두리를 둥글게*/
    padding: 40px;
    /*padding 속성은 내용(content)과 테두리(border) 사이의 간격인 패딩 영역의 크기*/
}

.main-box > .login-box > .buttons > button {
    margin: 10px 10px 40px 10px;
    /*margin 속성은 테두리(border)와 이웃하는 요소 사이의 간격인 마진 영역의 크기를 설정*/
}

@media screen and (max-width: 800px) {
    .main-box {
        max-width: 90%;
        /*max width나 height를 사용해서 최대치를 설정해서 축소를해도 끝까지 안밀려나게 설정*/
    }

    .main-box > .login-box {
        max-width: 80%;
        /*max width나 height를 사용해서 최대치를 설정해서 축소를해도 끝까지 안밀려나게 설정*/
    }
}

@media screen and (max-width: 600px) {
    .main-box {
        max-width: 90%;
        /*max width나 height를 사용해서 최대치를 설정해서 축소를해도 끝까지 안밀려나게 설정*/
    }

    .main-box > .login-box {
        max-width: 80%;
        /*max width나 height를 사용해서 최대치를 설정해서 축소를해도 끝까지 안밀려나게 설정*/
    }
}
