* {
            font-family: 'Poor Story', cursive;
        }

        .main {
            background-color: #e5e5e5;
            background-image: url("http://nstayimg4.speedgabia.com/arribada/main/mv01.jpg");

        }

        .main-box {
            background-color: #F7BE81;
            margin: 20px auto;
            max-width: 700px;
            height: 100%;

            border-radius: 15px;
        }

        .main-box > .register-box {
            transition: 0.3s;
            margin: auto;
            padding-top: 20px;

            max-width: 500px;
        }

        .main-box > .register-box > .buttons {
            display: flex;
            justify-content: center;

            margin-top: 10px;
        }

        .main-box > .register-box > .mascot {
            width: 100%;
            border-radius: 55px;
            padding: 40px;
        }

        .main-box > .register-box > .buttons > button {
            margin: 10px 10px 40px 10px;
        }

        @media screen and (max-width: 800px) {
            .main-box {
                max-width: 90%;
            }

            .main-box > .register-box {
                max-width: 80%;
            }
        }

        @media screen and (max-width: 600px) {
            .main-box {
                max-width: 90%;
            }

            .main-box > .register-box {
                max-width: 80%;
            }
        }